:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
    --background-color: #2F303A;
    --background-color_2: #F5F4FA;
    --border-color: #EEEEEE;
    --hover-color: #000000;
    --icon-color: #AFB1B8;
    --footer-soc-background-color: rgba(255, 255, 255, 0.1);
    --background-color-hero: #C4C4C4;
    --modal-icon-color: rgba(0, 0, 0, 0.1);
    --box-shadow-color: rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow-color-2: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --portfolio-link-box-shadow-color: rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --portfolio-btn-shadow-color: rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}