.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--background-color);
    &-block {
        display: flex;
        align-items: baseline;
    }
   &-contact__list .footer-contact__item:not(:last-of-type) {
        margin-top: 0;
        margin-bottom: 10px;
    }
    &-contact a[href="https://goo.gl/maps/PAnnSUerjHj3gwqy8"] {
        color: var(--primary-white-color);
    }    
    &-contact__link {
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    .add {
        color: var(--primary-white-color);
    }
    &-soc {
        margin-left: 70px;
        &__text {
            margin-top: 0;
            margin-bottom: 20px;
        
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        
            color:var(--primary-white-color)
        }
       &__list {
            justify-content: center;
            @extend %flex-align;
        }
        &__item {
            width: 44px;
            height: 44px;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        &__link {
            width: 100%;
            height: 100%;
            justify-content: center;
            @extend %flex-align;
        
            background-color: var(--footer-soc-background-color);
            border-radius: 50%;
            color: var(--primary-white-color);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
                background-color: var(--accent-color);
            }
        }
        &__icon {
            fill: currentColor;
        }
    }
    &-form {
        margin-left: auto;
        display: block;
        &__text {
            margin-top: 0;
            margin-bottom: 20px;
        
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            
            color: var(--primary-white-color);
        }
        &__btn {
            position: relative;
            width: 200px;
        
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
                
            margin-left: 12px;
            padding: 10px 28px;
            align-items: center;
            text-align: left;
            letter-spacing: 0.06em;
                
            color: var(--primary-white-color);
            background-color: var(--accent-color);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            border: 1px solid var(--accent-color);
            &:hover,
            &:focus {
                background-color: var(--background-color);
                border: 1px solid var(--accent-color);
            }
        }
        &__input {
            width: 358px;
            height: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 16px;
        
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
                
            color: rgba(255, 255, 255, 0.6);
            background-color: var(--background-color);
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(var(--box-shadow-color-2));
            border-radius: 4px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                border-color: var(--accent-color);
            }
        }
        &__icon {
            position: absolute;
            top: 13px;
            right: 28px;
            fill: currentColor;
        } 
    }    
}
.logo--footer{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    
    color: var(--primary-white-color);
}