.portfolio {
    margin-top: 0;
    margin-bottom: 94px;
    padding-top: 94px;
    .portfolio__list {
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
        & .portfolio__item + .portfolio__item {
            margin-left: 8px;  
        }
    }
    &__btn {
        padding: 6px 22px;
        margin-top: 0;
    
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        background: var(--background-color_2);
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--primary-white-color);
            background: var(--accent-color);
            box-shadow: 0px 3px 1px var(--portfolio-btn-shadow-color);
        }
    }
    &__link {
        display: block;
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px var(--portfolio-link-box-shadow-color);
        }
        &:hover .portfolio-thumb__text {
            transform: translateY(0);
        }
    }
    &-thumb {
        position: relative;
        overflow: hidden;
        &__text {
            position: absolute;
            top: 0;
            margin: 0;
        
            color: var(--primary-white-color);
            background-color: var(--accent-color);
            font-weight: 400;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: 0.03em;
            text-align: center;
        
            padding: 63px 24px;
            height: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    &-info {
        padding: 20px 24px;
        
        background: var(--primary-white-color);
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        &__title {
            margin: 0;
            margin-bottom: 4px;
        
            font-weight: 700;
            font-size: 18px;
            line-height: 2.00;
            letter-spacing: 0.06em;
            color: var(--title-text-color);
        }
        &__text {
            margin: 0;
        
            font-size: 16px;
            line-height: 1.86;
            letter-spacing: 0.03em;
            color: var(--primary-text-color);
        }
    }
    &__img-list {
        display: flex;
        flex-wrap: wrap;
        & > .portfolio__item {
            width: calc((100% - 60px) / 3);
            margin-right: 30px;
            margin-bottom: 30px;
        
            background: var(--primary-white-color);
        }
        & >.portfolio__item:nth-child(3n) {
            margin-right: 0;
        }
        & >.portfolio__item:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }
}