.section-properties {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-properties__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}
.section-properties__list > .section-properties__item::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-color_2);
    margin-bottom: 30px;
}
.icon-antena::before {
    background-image: url("../images/antenna.svg");
}
.icon-clock::before {
    background-image: url("../images/clock.svg");
}
.icon-diagram::before {
    background-image: url("../images/diagram.svg");
}
.icon-cosmo::before {
    background-image: url("../images/astronaut.svg");
}
.section-properties__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.section-properties__list .section-properties__item {
    width: 270px;
}
.section-properties__list .section-properties__item + .section-properties__item {
    margin-left: 30px;
}    
.section-properties__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
}