.team {
    padding-top: 94px;
    padding-bottom: 94px;

    text-align: center;

    background-color: var(--background-color_2);
    &__title {
        margin-top: 0;
        margin-bottom: 50px;
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: var(--title-text-color);
    }
    &__list {
        display: flex;
        & > .team__item + .team__item {
            margin-left: 30px;
        }
        & > .team__item {
            width: 270px;
            
            background: var(--primary-white-color);
            box-shadow: 0px 1px 3px var(--box-shadow-color);
            border-radius: 0px 0px 4px 4px;
        }
    }
    &__name {
        margin-top: 30px;
        margin-bottom: 10px;
        &,
        .team__text {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--title-text-color);
        }
    }
    &__text {
        margin-top: 0;
        margin-bottom: 16px;
    
        color: var(--primary-text-color);
    }
    &-soc__list {
        justify-content: center;
        margin-bottom: 30px;
        @extend %flex-align;
    }
    &-soc__item {
        width: 44px;
        height: 44px;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &-soc__link {
        width: 100%;
        height: 100%;
        background-color: var(--primary-white-color);
        border-radius: 50%;
        justify-content: center;
        @extend %flex-align;
        
        color: var(--icon-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: var(--accent-color);
            fill: var(--primary-white-color);
        }
        &:hover .team__icon {
            fill: var(--primary-white-color);
        }
    }
    &__icon {
        fill: currentColor;
    }
}

